RPG_E_Client/Temp
RPG_E_Client/Library
RPG_E_Client/Packages
RPG_E_Client/Logs
RPG_E_Client/Assets/ExternalPackages
RPG_E_Client/Assets/ExternalPackages.meta
RPG_E_Client/.vs/RPG_E_Client/FileContentIndex
RPG_E_Client/.vs/RPG_E_Client/v17
RPG_E_Client/obj
